
@media (min-width:200px){
.heeder{
  background-image: url(../images/images-small.jpg);
   -webkit-background-size: 100% auto;
   -moz-background-size: 100% auto;
   -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 300px;
    background-repeat: no-repeat;
    padding-top:10
    color:white;
}
}

@media (min-width: 400px){
.heeder{
  background-image: url(../images/images-medium.jpg);
   -webkit-background-size: 100% auto;
   -moz-background-size: 100% auto;
   -o-background-size: 100% auto;
    background-size: 100% auto;
    /*height: 300px;*/
    background-repeat: no-repeat;
    padding-top:10%;
    color:white;
}
}

@media (min-width: 1200px){
.heeder{
  background-image: url(../images/images-large.jpg);
   -webkit-background-size: 100% auto;
   -moz-background-size: 100% auto;
   -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 300px;
    background-repeat: no-repeat;
    padding-top:10%;
    color:white;
}
}

.iconz{
height:30px;
}

p{
  text-indent: 1em;
  font-size:20px;
  padding-left:10px;
  color:white;
  background-color: #333333;
  border:2px solid black;
  padding-top:10px;
  padding-bottom:10px;
}

.about{
  font-family: 'Nunito Sans', sans-serif;
}

body{
  border:2px solid black !important;
}

.container{
  background-color: gray;
}

.img{
  border-radius: 25px;
}

h3{
  color:black;
}

.aboutheader{
  color:black;
}

.aboutpic{
  border:2px solid black;
}

a:hover{
  fill:white;
  background:white;
  color:white;
}

hr{
  border-color: #333333;
}

h1{
  color:white;
}
/* Things to go back and do
1.) LinkedIn,Git,Gmail - make into buttons with shadowing
2.) Add Jquery to change Linkedin,Git,Gmail SVG colors when hovering
3.) Some kind of shadowing for About Me boxes and picture
4.) set current page to homepage on navbar
5.) add a portfolio tab that will hold a 4 x "x" thumbnail display of my projects
*/



